/* Colors */
/* Font family */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 12px;
  color: #fff;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.9;
}

p,
a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

:link {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

a:hover {
  text-decoration: none;
}

:hover {
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.maincol {
  color: #c41230;
}

header {
  position: relative;
  z-index: 1000;
}

header .uppernav {
  background: #c41230;
  height: 30px;
}

header .uppernav input {
  height: 26px;
  line-height: 26px;
  border-color: #fff;
  background: #c41230 !important;
  margin: 2px 0;
  color: white;
  text-align: right;
  width: 160px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

header .uppernav input::-webkit-input-placeholder {
  color: white;
  font-family: "Quicksand", sans-serif;
}

header .uppernav input:-ms-input-placeholder {
  color: white;
  font-family: "Quicksand", sans-serif;
}

header .uppernav input::-ms-input-placeholder {
  color: white;
  font-family: "Quicksand", sans-serif;
}

header .uppernav input::placeholder {
  color: white;
  font-family: "Quicksand", sans-serif;
}

header .uppernav .form-control:focus {
  border-color: #ec4460;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

header .uppernav button {
  height: 26px;
  text-align: center;
  background: white;
  margin: 2px 0;
  width: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

header .uppernav button img {
  height: 20px;
  margin: -4px 0 0 0;
  padding: 0;
}

header .uppernav .chooselang {
  line-height: 29px;
  background: #c41230;
  z-index: 1001;
}

header .uppernav .chooselang ul {
  display: none;
  width: 60px;
}

header .uppernav .chooselang ul li:nth-of-type(1) a {
  border-bottom: 1px solid #fff;
  border-radius: 0;
}

header .uppernav .chooselang li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .uppernav .chooselang li a {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px 0;
}

header .uppernav .chooselang .currentlang {
  position: relative;
  width: 60px;
}

header .uppernav .chooselang .currentlang:hover {
  background: #fff;
}

header .uppernav .chooselang .currentlang:hover > a {
  color: #c41230;
}

header .uppernav .chooselang .currentlang:hover li:hover {
  background: #fff;
}

header .uppernav .chooselang .currentlang:hover li:hover > a {
  color: #c41230;
}

header .uppernav .chooselang .currentlang:hover > ul {
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1001;
  background: #c41230;
}

.upper_head_links:hover a {
  background: white;
  color: #c41230 !important;
  height: 30px;
}

.mainheader {
  background: rgba(0, 0, 0, 0.35);
  height: 70px;
}

.mainheader .wrapper {
  position: relative;
}

.mainheader .logoholder {
  display: inline-block;
  padding: 10px 0;
}

.mainheader .logoholder img {
  height: 50px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.mainheader .logoholder:hover img {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.mainheader nav #maincolbutt {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 10px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.mainheader nav #maincolbutt img {
  height: 50px;
  margin: 10px 0;
}

.mainheader nav ul {
  position: absolute;
  top: 0;
  left: 50%;
  height: 70px;
  line-height: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 590px;
}

.mainheader nav ul li {
  float: left;
  margin: 0 2px;
}

.mainheader nav ul li h2 {
  font-size: 16px;
  color: #fff;
  line-height: 70px;
  z-index: 100;
  position: relative;
  padding: 0 5px;
}

.mainheader nav ul li a {
  display: block;
}

.mainheader nav ul .shopbtn {
  background-color: #c41230;
}

.ctaheader {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
}

.ctaheader a {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  margin: 15px 5px;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 0;
  background: #c41230;
}

.ctaheader a img {
  width: 25px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.ctaheader a:hover {
  background: #ec4460;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.ctaheader2 {
  height: 50px;
  width: 50%;
  margin: 0 auto;
}

.ctaheader2 div {
  text-align: center;
}

.ctaheader2 a {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 1px #fff solid;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 0;
  background: #c41230;
  margin: 5px auto;
}

.ctaheader2 a img {
  width: 25px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.ctaheader2 a:hover {
  background: #ec4460;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.hero {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.lSSlideOuter {
  position: relative;
}

.lSPager {
  position: absolute;
  bottom: 30px;
  right: 20%;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background: rgba(255, 255, 255, 0.6);
  height: 30px;
  width: 30px;
  border-radius: 10px 0;
}

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background: #c41230;
}

.herotext {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  bottom: 30px;
  left: 20%;
  padding: 20px 40px;
  border-radius: 15px 0;
  max-width: 600px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
}

.herotext h4 {
  color: #c41230;
}

.firsttext {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background: #fff;
  position: relative;
  z-index: 10;
  padding-bottom: 120px !important;
}

.firsttext p {
  max-width: 1000px;
  margin: 0 auto;
}

.ctacards {
  background: #c41230;
  text-align: center;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  margin-top: -100px;
  padding-top: 100px;
}

.ctacards .card {
  max-width: 400px;
  margin: 0 auto;
}

.lastp {
  margin-bottom: 100px;
}

.herotext2 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  border-radius: 15px 0;
  max-width: 600px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
}

/**** Sticky Header ****/
.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  background: rgba(0, 0, 0, 0.75) !important;
  z-index: 1005;
}

.stickystay {
  margin-bottom: 70px;
}

.sticky + .content {
  padding-top: 70px;
}

.included-search {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

/**** Search includer ****/
.searchincluder {
  background-color: white;
}

.searchincluder ::-webkit-input-placeholder {
  color: #c41230 !important;
}

.searchincluder :-ms-input-placeholder {
  color: #c41230 !important;
}

.searchincluder ::-ms-input-placeholder {
  color: #c41230 !important;
}

.searchincluder ::placeholder {
  color: #c41230 !important;
}

.searchincluder .init_search_but {
  height: 55px;
}

input.form_deo {
  border: 1px solid #c41230;
  padding: 27px 10px;
}

.form_deo::-webkit-input-placeholder {
  color: #c41230 !important;
}

.form_deo:-ms-input-placeholder {
  color: #c41230 !important;
}

.form_deo::-ms-input-placeholder {
  color: #c41230 !important;
}

.form_deo::placeholder {
  color: #c41230 !important;
}

input.form_deo:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ec4460;
  color: #ec4460;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: #c41230;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 1px solid #c41230;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fff));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #c41230;
}

.select-css:focus {
  border-color: #ec4460;
  -webkit-box-shadow: 0 0 1px 3px #ec4460;
          box-shadow: 0 0 1px 3px #ec4460;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #ec4460;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

.sales {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.sales ul#lightSlider2 li {
  height: 400px;
  overflow: hidden;
}

.sales ul#lightSlider2 li img:nth-child(1) {
  height: 100%;
  width: 1300px !important;
}

.sales ul#lightSlider2 li img:nth-child(2) {
  height: 100%;
}

.veleprodaja {
  padding-bottom: 60px;
}

.veleprodaja-button span img {
  height: 30px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.footer-categories a:hover {
  color: lightgray !important;
}

.mainfooter {
  background: #c41230;
  line-height: 60px;
}

.fbfooter {
  width: 50px !important;
  height: 50px;
  line-height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 5px auto;
  text-align: center;
}

.fbfooter img {
  height: 30px;
}

.fbfooter:hover {
  background: royalblue;
}

.display-4 {
  line-height: 0.8 !important;
  vertical-align: top;
}

.nav-link {
  padding: 0 !important;
}

@media (min-width: 992px) {
  .mainheader nav ul h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #c41230;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    z-index: -1;
  }
  .mainheader nav ul h2:hover::before {
    height: 70px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
}

@media (max-width: 991px) {
  #maincolbutt:hover,
  #maincolbutt:focus {
    background: #c41230;
    border-radius: 5px 5px 0 0;
  }
  .mainheader nav ul {
    -webkit-transform: none;
            transform: none;
    position: absolute;
    top: 100%;
    left: initial;
    right: 0;
    width: 100%;
    background-color: #c41230;
    height: auto;
    line-height: 40px;
    -webkit-filter: drop-shadow(0 10px 5px #101010);
            filter: drop-shadow(0 10px 5px #101010);
  }
  .mainheader nav ul li {
    text-align: center;
  }
  .mainheader nav ul li a {
    padding: 0;
  }
  .mainheader nav ul li h2 {
    line-height: 40px;
  }
  .mainheader nav ul li:hover {
    background: #fff;
  }
  .mainheader nav ul li:hover h2 {
    color: #c41230;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .mainheader nav ul li:nth-last-of-type(1):hover {
    background: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  header h1 {
    line-height: 30px;
  }
  header .upperright > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .upperright > ul > li {
    float: none !important;
  }
  header .mainheader {
    height: 50px;
  }
  header .mainheader .logoholder {
    height: 50px;
    padding: 10px 0;
  }
  header .mainheader .logoholder img {
    height: 30px;
  }
  header .mainheader nav #maincolbutt {
    height: 50px;
    margin-right: 10px;
  }
  header .mainheader nav #maincolbutt img {
    height: 30px;
  }
  .display-4 {
    font-size: 1.6rem !important;
  }
  .display-2 {
    font-size: 2.5rem !important;
  }
  .lSPager {
    position: absolute;
    bottom: 0px;
    right: initial;
    left: 50%;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
  .lSSlideOuter .lSPager.lSpg > li a {
    height: 20px;
    width: 20px;
  }
  .herotext {
    background: rgba(255, 255, 255, 0.7);
    bottom: 30px;
    left: 0;
    padding: 10px 10px;
    border-radius: 15px 0;
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: 5px 5px 10px #000;
            box-shadow: 5px 5px 10px #000;
  }
  .herotext h4 {
    color: #c41230;
  }
  .firsttext {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    padding-bottom: 70px;
  }
  .stickystay {
    margin-bottom: 50px;
  }
  .sticky + .content {
    padding-top: 50px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  .ctaheader2 {
    width: 100%;
  }
  .lSPager {
    display: none;
  }
  .herotext {
    position: initial;
    border-radius: 0;
    border-bottom: 1px #c41230 solid;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero {
    padding: 10px;
    -webkit-transform: none;
            transform: none;
  }
  .firsttext,
  .ctacards,
  .included-search,
  .sales {
    -webkit-transform: none;
            transform: none;
  }
  .veleprodaja {
    padding-top: 40px;
  }
  .firsttext {
    padding-bottom: 60px !important;
  }
}
/*# sourceMappingURL=style.css.map */